/* container 1 for page 1 */
.container {
  width: 90%;
  height: 800px;
  background-color: rgb(164, 210, 137);
  border-radius: 10px;
  margin: 50px auto;
}
/* container 1 for page 2 */
.container2 {
  width: 90%;
  height: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 50px auto;
  border: 2px solid rgb(136, 227, 227);
}

/* container 3 */
.container3{
  width: 90%;
  height: 800px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 50px auto;
  border: 2px solid rgb(136, 227, 227);
  position: relative;

}



/* heading 1 for page 1 */
.heading {
  padding-top: 120px;
  padding-left: 100px;
}

/* heading 1 for page 1 */
.heading2 {
  padding-top: 50px;
  padding-left: 100px;
}

/* h1 css for heading 1 */
.heading > h1 {
  font-family: Calibri;
  font-size: 95px;
  font-weight: 600;
}

/* h1 css for heading 2 */
.heading2 > h1 {
  font-family: Calibri;
  font-size: 50px;
  font-weight: 400;
  color: black;
}

/* box-bgimg for page 3 */
.box-bgimg img{
  width:1199px;
  height:370px;
  border-radius:10px;
}


/* paragraph css for page 1 */
.para {
  padding-top: 0;
  padding-left: 100px;
}
.para p {
  font-family: Calibri;
  font-size: 30px;
  font-weight: 600;
  margin-top: 0%;
}

/* paragraph css for page 2 */
.para2 {
  padding-top: 0;
  padding-left: 100px;
}
.para2 p {
  font-family: Calibri;
  font-size: 35px;
  font-weight: 400;
  line-height: 100px;
  margin-top: 0%;
  color: rgb(89, 128, 128);
}

/* para for page 3 */
.para3{
  padding-top: 0;
  /* padding-left: 100px; */
  width: 100%;
  margin-left:100px;
  
}
.para3 span>h3{
  text-transform: uppercase;
  font-weight: 700;
}
.para3 span{
  margin-top: 25px;
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  color: rgb(89, 128, 128);
  margin-bottom: 0px;

}
.para3  h3{
  width: 800px;
  font-size: 25px;
  font-family: calibri;
  font-weight: 500;
  color: rgb(89, 128, 128);
  
}

.para3 h1{
  margin-top: 0;
  font-size: 35px;
  font-family: calibri;
  font-weight: 400;
}

.para3 button{
  margin-top: 30px;
  font-family: calibri;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 50px;
  border-radius: 10px;
  border: 1px solid rgb(31, 247, 247);
  background-color: white;
  color: blueviolet;
}


/* button css for page 1 */
#btn-share {
  padding-top: 0;
  margin-left: 100px;
  font-family: calibri;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 50px;
  border-radius: 50px;
  border-style: none;
}

/* hr css for page 1 */
hr {
  color: red;
  margin: 5px 60px;
}


/* box-profile */

#box-profile{

  padding-top: 40px;
  padding-left: 100px;
 
}

.profile-img{
  width:200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 100px;
  margin-left: 100px;
  border: 0.35px solid rgb(122, 107, 107);
  /* margin-bottom: 30px; */
}

.seeprofiles{
  /* padding-top: 20px; */
  padding-left: 100px;

}

.seeprofiles h4{

  color:rgb(94, 94, 228);
  font-family: Calibri;
  font-size: 28px;
  font-weight: 500;
  line-height: 100px;
}


/* css for page 4 */

.container4{
  width: 100%;
  height: 800px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 50px auto;
  border: 2px solid rgb(136, 227, 227);

}

.box-login{
  font-family: calibri;
  margin-left:42%;
  margin-top:10%;
}
.wel-msg, .login-logo{
  margin: 10px 40px;
  display: block;
}

.input-boxes input {
  font-family: calibri;
  color: rgb(60, 104, 104);
  margin: 10px 10px;
  display: block;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid rgb(136, 227, 227);
  font-weight: 500;
}

form i{
  position: absolute;
  margin-top:-40px;
  margin-left: 175px;
  cursor: pointer;
}

#submit{
  margin: 15px 28px;
  font-family: calibri;
  font-size: 13px;
  font-weight: 400;
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 10px 20px;
}

.box-footer *,.forget{
  display: inline-block;
  margin-left: 25px;
}

.box-footer p{
  color:rgb(60, 104, 104) ;
}